:root {
    --Primary-Brand-color-Iris: #4D5AE5;
    --Pressed-state-color-OCEAN: #404BBF;
    --Headings-color-Navyblue: #2E2F42;
    --Body-text-color-SLATE: #434455;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


/* Body */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Body-text-color-SLATE);
}

.hero {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page-nav {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-link-item:not(:last-child) {
    margin-right: 40px;
}

/* Header */

.web {
    width: 44px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Primary-Brand-color-Iris);
    margin-right: 147px;
}

.studio {
    width: 71px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Headings-color-Navyblue);
}

.menu-link {
    width: 66px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Headings-color-Navyblue);
}

.menu-link:focus,
.menu-link:hover {
    color: var(--Pressed-state-color-OCEAN);
}

.adress-list {
    font-style: normal;

}

.adress {
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--Body-text-color-SLATE);
    font-style: normal;
}

.adress:hover,
.adress:focus {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Pressed-state-color-OCEAN);
    font-style: normal;
}

.contacts {
    display: flex;
}

/* section one */
.section-one {
    background-color: var(--Headings-color-Navyblue)
}

/* section two */
.section-two {
    list-style: none;
}

.hdr-two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--Headings-color-Navyblue);
}

.hdr-three {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--Headings-color-Navyblue);
}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Body-text-color-SLATE);
}

/* section three */
.section-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--Headings-color-Navyblue);
}

/* buttons */
.order-service-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: var(--Primary-Brand-color-Iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.button {
    font-family: "Roboto", sans-serif;
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--Primary-Brand-color-Iris);
    cursor: pointer;
    letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
    background: var(--Pressed-state-color-OCEAN);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
}

/* footer */
.footer {
    background-color: var(--Headings-color-Navyblue);
}

.footer-goal {
    color: #E7E9FC;
}

.footer-web {
    width: 44px;
    height: 22px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Primary-Brand-color-Iris);
}

.footer-studio {
    width: 71px;
    height: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

/* portfolio */
.hdr-two-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Headings-color-Navyblue);
}